body{
    background-color: rgb(14, 14, 14);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

.heading{
    width: 1000px;
    margin-top:70px;
    height: 60vh;
    padding: 5%;
    border-radius: 10px;
    background: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40px;
    left: 200px;
}

h1{
    font-size: 5.4rem;
    color: white;
    margin-bottom: 5rem;
    

}


#question p{
    margin : 0;
    padding : 15px;
    font-size: 2.25em;
    font-family: baskerville;
    text-align: center;
}
.choice{
    width: 350px;
    height: 60px;
    display: inline-block;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    border: 2px solid #a1a9bd;
    border-radius: 10px;
    margin: 20px;
    color: black;
    position: relative;
    left: 60px;
}

.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}


h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;

}

.container {
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem

}
#ScoreBar{
    width : 5000px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 15px;
    height : 15px;
    border: 1px solid #a1a9bd;
    display: inline-block;
    border-radius: 25%;
    margin-left : 5px;
    margin-right : 5px;
}


#scoreContainer p{
    position: absolute;
    display: block;
    width : 590px;
    height :59px;
    top:620px;
    left:425px;
    background-color: white;
    border: 1px solid #a1a9bd;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}


#counter{
    font-size: 1em;
}

#start{
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: aliceblue;
    background-image: linear-gradient(to right, #D31027 0%, #e25061  51%, #D31027  100%);
}

.btn{
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: aliceblue;
    background-image: linear-gradient(to right, #D31027 0%, #e25061  51%, #D31027  100%);
    
}


     .btn:hover {
       cursor: pointer;
       box-shadow: aliceblue;
       transition: transform 150ms;
       transform:scale(1.03)
     }
    
     .btn[disabled]:hover {
        cursor: not-allowed;
        box-shadow: none;
        transform: none;
     }


     #timer{
        position: absolute;
        height : 58px;
        width : 120px;
        bottom : 12px;
        text-align: center;
        border: 2px solid #a1a9bd;
        border-radius: 20px;
     }

     .choice{
        width: 350px;
        height: 60px;
        display: inline-block;
        padding: 10px 0 10px 15px;
        vertical-align: middle;
        border: 2px solid #a1a9bd;
        border-radius: 10px;
        margin: 20px;
        color: black;
        position: relative;
        left: 60px;
    
    }

    .input{
        position: relative;
        display: flex;
        justify-content: center;
        top: -40px;
    }